		</main>

		<% if ( archive ) { %>
		<footer class="archive">
			<nav class="posts">
				<ul>
					<% posts.filter( ( { tagged } ) => ! tagged ).forEach( post => { %>
					<li><a href="<%= post.slug %>"><%- post.title.rendered %></a></li>
					<% } ); %>
				</ul>
			</nav>
			<% tags.forEach( tag => { %>
			<nav class="tag-<%= tag.slug %>">
				<h3 aria-label="<%= tag.label %>"><%= tag.emoji %></h3>
				<ul>
					<% posts.filter( post => post.tags.includes( tag.id ) ).slice( 0, 10 ).forEach( post => { %>
					<li><a href="<%= post.slug %>"><%- post.title.rendered %></a></li>
					<% } ); %>
				</ul>
				<h3 aria-label="Info">💁</h3>
				<ul>
					<% config.nav.forEach( ( { link, title } ) => { %>
					<li><a href="<%= link %>"><%= title %></a></li>
					<% } ); %>
				</ul>
			</nav>
			<% } ); %>
		</footer>
		<% } %>

	</body>
</html>
