		</main>

		<% if ( archive ) { %>
		<footer class="archive">
			<nav class="posts">
				<% posts.filter( ( { type } ) => 'photo' !== type ).forEach( post => { %>
				<p class="<%= postId === post.id ? 'current' : '' %>">
					<a href="<%= post.slug %>"><%- post.title.rendered %></a>
				</p>
				<% } ); %>
			</nav>
			<nav class="photos">
				<p aria-label="Photo">📸</p>
				<% posts.filter( ( { type } ) => 'photo' === type ).forEach( post => { %>
				<p class="<%= postId === post.id ? 'current' : '' %>">
					<a href="<%= post.slug %>"><%- post.title.rendered %></a>
				</p>
				<% } ); %>
			</nav>
		</footer>
		<% } %>

	</body>
</html>
